In [1]:
class Car:
    pass

In [10]:
class Car:
    
    #Initializing attributes
    def __init__(self, model, manufacturer, year, modeltype, color):
        self.model = model
        self.manufacturer = manufacturer
        self.year = year
        self.modeltype = modeltype
        self.color = color
        
    def describe(self):
        print(f'someone owns that {self.year} {self.color} {self.manufacturer} {self.model} {self.modeltype}')
        
        
    def repaint(self, new_color):
        self.color = new_color
        print(f'The {self.year} {self.manufacturer} {self.model} {self.modeltype} has been repainted to {self.color} ')

In [11]:
mycar = Car('Mondeo','ford', 2018, 'Hatchback', 'black')

In [9]:
print(f'My car is {mycar.color} {mycar.manufacturer} {mycar.model} {mycar.modeltype} 
      parked on the street corner. it was made in {mycar.year}. Although I bought it 4 years ago as used car')

My car is black ford Mondeo Hatchback parked on the street corner. it was made in 2018. Although I bought it 4 years ago as used car

In [12]:
mycar.describe()

someone owns that 2018 black ford Mondeo Hatchback

In [13]:
mycar.repaint('Yellow')

The 2018 ford Mondeo Hatchback has been repainted to Yellow

In [18]:
### Exercise 1:
import pip
try:
    import numpy as np
except ImportError:
     pip.main(['install', 'numpy'])

In [20]:
try:
    import pandas  as pd
except ImportError:
     pip.main(['install', 'pandas'])

In [29]:
np.random.seed(0)
random_number = np.random.random(10)

In [30]:
print(random_number)

[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548  0.64589411
 0.43758721 0.891773   0.96366276 0.38344152]

In [32]:
s = pd.Series(random_number)

In [33]:
s

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
5    0.645894
6    0.437587
7    0.891773
8    0.963663
9    0.383442
dtype: float64

In [34]:
print(type(s))

<class 'pandas.core.series.Series'>

In [35]:
print(type(random_number))

<class 'numpy.ndarray'>

In [39]:
index_value = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
s = pd.Series(random_number, index=index_value)
print(s)

a    0.548814
b    0.715189
c    0.602763
d    0.544883
e    0.423655
f    0.645894
g    0.437587
h    0.891773
i    0.963663
j    0.383442
dtype: float64

In [41]:
import pandas

In [49]:
s1 = pandas.Series([1, 2, 3, 4, 5])
s2 = pandas.Series([6, 7, 8, 9, 10])
s3 = pandas.Series([11, 12, 13, 14, 15])
s4 = pandas.Series([16, 17, 18, 19, 20])

In [44]:
df = pandas.DataFrame({'s1':s1, 's2':s2, 's3':s3, 's4':s4})

In [45]:
df

   s1  s2  s3  s4
0   1   6  11  16
1   2   7  12  17
2   3   8  13  18
3   4   9  14  19
4   5  10  15  20

In [51]:
index_value = ['a', 'b', 'c', 'd', 'e']
df = pandas.DataFrame({'s1':s1, 's2':s2, 's3':s3, 's4':s4})
df

   s1  s2  s3  s4
0   1   6  11  16
1   2   7  12  17
2   3   8  13  18
3   4   9  14  19
4   5  10  15  20