# Chapter 5 - Perform Your First Cluster Analysis

Build your first unsupervised models with the most popular clustering algorithms

## Exercise 1: Cluster Australian postcodes by businesses income and expenses

In this exercise, we will learn how to perform a clustering analysis with k-means and visualise its results on a graph.

---

1. Open on a new Colab notebook. Import the required packages (**pandas**, **sklearn**, **altair**, **numpy**)



---

In [0]:
# Put your code here #



---


2. Load the ATO dataset with the following columns only: '*Postcode*', '*Average total business income*' and '*Average total business expenses*'. Display the last 10 rows of the dataframe.



---

Hints:
* Use **read_csv()** method from the package **pandas**
* Provide the list of the 3 variables name to the parameter **usecols**
* Look at the **tail()** method from the package **pandas**

Expected Output:
![Figure 9 - Last 10 rows of the ATO dataset](https://docs.google.com/uc?export=download&id=1OfjvvwZRz0wTJGL4T0lrizURu5-J05oD)

In [0]:
# Put your code here #



---


3. Extract the columns '*Average total business income*' and '*Average total business expenses*' and save it into a variable called '*X*'. Fit k-means with this new variable using 8 as the value for the hyperparameter **random_state**.


---



Hints:
* In the package **pandas**, you can filter the columns using the following syntax: dataframe_name[list_of_columns]
* Use the **fit()** method from the package **sklearn**

Expected Output:
![Figure 10 - Summary of the fitted k-means and its hyperparameters](https://docs.google.com/uc?export=download&id=1WFvByNdoVOugaN9wynGCsiUR1WmTCdCl)

In [0]:
# Put your code here #



---


4. Predict the clustering assignment from the same input variable '*X*' and save them into a new variable called '*y_preds*'. Print the results for the last 10 rows.


---



Hints:
* Use the **predict()** method from **sklearn**
* In **pandas** you can subset the rows of a dataframe using the following syntax: dataframe_name[list_of_rows]
* Look at the special character "**:**" in **pandas** in order to get the list of rows needed

Expected Output:
![Figure 11  - Summary of the fitted k-means and its hyperparameters](https://docs.google.com/uc?export=download&id=1LFDUCp2udydm4MJt11oUgQ3iRQPFNs0H)

In [0]:
# Put your code here #



---


5. Save the predicted clusters back to the dataframe by creating a new column called '*cluster*'. Print the last 10 rows of the dataframe.



---


Hints:
* Look at the **tail()** method from the package **pandas**

Expected Output:
![Figure 12 - Last 10 rows of the ATO dataset with the added cluster column](https://docs.google.com/uc?export=download&id=1aJUyXuyEf11rOCaUIvANFTjoniImYv4G)

In [0]:
# Put your code here #



---


6. Generate the pivot table with the average of the 2 columns for each cluster value.



---


Hints:
* Look at the **pivot_table()** method from the package **pandas**
* Use the **mean()** method from **numpy** for the aggregation function

Expected Output:
![Figure 13 - Output of the pivot_table function](https://docs.google.com/uc?export=download&id=183dlNf-23B11rNyj-jUqb_wyWfdCtm58)

In [0]:
# Put your code here #



---


7. Plot the clusters using an interactive scatter plot.


---



Hints:
* Use **Chart()** from the package **altair** to instantiate a graph
* Use the method **mark_circle()** and **encode()** from the package **altair** to define the scatter plot
* Use the **color** parameters and **tooltip** to customise the scatter plot display


Expected Output:
![Figure 14 - Interactive scatter plot of the clusters](https://docs.google.com/uc?export=download&id=1ATZM5wPH4TJAb9nZjgQpzCBdolXbKbm8)

In [0]:
# Put your code here #

Well done! You just performed your first cluster analysis and visualise its results. You learned how to load a real world dataset, fit k-means and plot a scatter plot. This is a great start and we will be delving into more details on how to improve the performance of your model.