## Exercise 2: Find the optimal number of clusters

In this exercise, we will apply the Elbow method on the same data as for Exercise 1 to find the optimal number of clusters before fitting k-means



---

1. Open a new Colab notebook and import the required packages (pandas, sklearn, altair)


---

In [0]:
# Put your code here #

Next, we will be loading the dataset and selecting the same columns as for exercise 1 and printing the first 5 rows.



---


2. Assign the link to the ATO dataset to a variable called file_url:


---

In [0]:
# Put your code here #



---

3. Using the read_csv method from the package pandas, load the dataset with only the following columns with the use_cols parameter: ''Postcode'', ''Average total business income'' and ''Average total business expenses''.


---

In [0]:
# Put your code here #

Expected output:
![Figure 18 - First five rows of ATO dataframe](https://docs.google.com/uc?export=download&id=1UdpKp42fUN9lzuxbyhDGwT5vXsD4QfaM)



---

4. Display the first 5 rows of the dataframe with the method head from the package pandas


---

In [0]:
# Put your code here #


---

5. Assign the columns ‘Average total business income’ and ‘Average total business expenses’ to a new variable called X:


---

In [0]:
# Put your code here #


---


6. Create an empty pandas dataframe called clusters and an empty list called inertia


---

In [0]:
# Put your code here #



---

7. Now, use the function range to generate a list containing the range of clusters number from 1 to 16 and assign it to a new column called “cluster_range” from the ‘clusters’ dataframe


---

In [0]:
# Put your code here #



---

8. Create a for loop to go through each cluster number and fit a k-means accordingly and append its inertia value using the parameter ‘inertia_’ to the list ‘inertia’


---

In [0]:
# Put your code here #



---

9. Assign the list ‘inertia’ to a new column called ‘inertia’ from the clusters dataframe and display its content: 


---

In [0]:
# Put your code here #

Expected output:

![Figure 19 - Plotting the Elbow method](https://docs.google.com/uc?export=download&id=158GiXQyp5bbTt4TFK6S2aVoNRa-9voZv)


---


10. Now, use mark_line() and encode() from altair package to plot the Elbow graph with ‘cluster_range’ as x-axis and ‘inertia’ as y-axis:


---

In [0]:
# Put your code here #

Expected output:


![Figure 20 - Plotting the Elbow method](https://docs.google.com/uc?export=download&id=1g098k6TIfG6ckE95ilUwUcPZNqMMueBp)



---


11. Looking at the Elbow plot, identify the optimal number of clusters and assign this value to a variable called optim_cluster:

---

In [0]:
# Put your code here #



---


12. Train a k-means with this number of clusters and a random_state of 42 using the method fit from sklearn:

---

In [0]:
# Put your code here #


---


13. Using the predict method from sklearn, get the predicted assigned cluster for each data points contained in the variable X and save the results into a new column called ‘cluster2’ from the dataframe df:

---

In [0]:
# Put your code here #



---

14. Display the first 5 rows of the dataframe df using the method head from the pandas package:



---

In [0]:
# Put your code here #

Expected output:


![Figure 24 - First five rows with the cluster predictions](https://docs.google.com/uc?export=download&id=1XKzgKmxxJCc_2JU12uIwBJXd1ldt-0Bg)



---

15. Now, plot the scatter plot using the methods use mark_circle() and encode() from the package altair and to add interactiveness use the tooltip parameter and interactive() method from altair


---

In [0]:
# Put your code here #

Expected output:

![Figure 25 - Scatter plot of the 4 clusters](https://docs.google.com/uc?export=download&id=14088xtSsJUE5-y5z4tFgo5iAyFOKhw0j)

Congratulations! You just learnt how to find the optimal number of clusters before fitting a k-means clustering. The data points are grouped into 4 different clusters:
*  Cluster 0 (blue) is for all the observations with average total business income lower than 100,00 and average total business expense lower than 80,000
*  Cluster 3 (cyan) is grouping data that have average total business income lower than 180,000 and average total business expense lower than 160,000
*  Cluster 1 (orange) is for data that have average total business income lower than 370,000 and average total business expense lower than 330,000
*  Cluster 2 (red) is for extreme values data that have average total business income higher than 370,000 and average total business expense higher than 330,000

The results from exercise 1 have 8 different clusters and some of them were very similar to each other. Here you saw that having the optimal number of clusters provided better differentiation between the groups and this is why it is one of the most important hyperparameter for k-means to be tuned. In the next section we will look at 2 other important hyperparameters.