## Exercise 1: Cluster Australian postcodes by businesses income and expenses

In this exercise, we will learn how to perform a clustering analysis with k-means and visualise its results based on the postcode values by business income and expenses on a graph.

---

1. Open on a new Colab notebook and import the required packages (pandas, sklearn, altair, numpy)



---

In [0]:
# Put your code here #

---

2. Assign the link to the ATO dataset to a variable called file_url:
---

In [0]:
# Put your code here #



---

3. Using the read_csv method from the package pandas, load the dataset with only the following columns with the use_cols parameter: ''Postcode'', ''Average total business income'' and ''Average total business expenses''.


---

In [0]:
# Put your code here #



---

4. Display the last 10 rows from the ATO dataset using the tail method from pandas 


---

In [0]:
# Put your code here #

Expected Output:
![Figure 9 - Last 10 rows of the ATO dataset](https://docs.google.com/uc?export=download&id=1OfjvvwZRz0wTJGL4T0lrizURu5-J05oD)



---


5. Extract the columns ''Average total business income'' and ''Average total business expenses'' using the following panda column subsetting syntax, dataframe_name[< list_of_columns >] , and save them into a new variable called ''X''. 


---

In [0]:
# Put your code here #



---

6. Now, fit k-means with this new variable using the value 8 for the hyperparameter random_state.


---

In [0]:
# Put your code here #

Expected Output:
![Figure 10 - Summary of the fitted k-means and its hyperparameters](https://docs.google.com/uc?export=download&id=1WFvByNdoVOugaN9wynGCsiUR1WmTCdCl)



---


7. Using the predict method from the sklearn package, predict the clustering assignment from the input variable (X) and save the results into a new variable called ''y_preds'' and display the last 10 predictions:


---

In [0]:
# Put your code here #

Expected Output:
![Figure 11  - Summary of the fitted k-means and its hyperparameters](https://docs.google.com/uc?export=download&id=1LFDUCp2udydm4MJt11oUgQ3iRQPFNs0H)


---


8. Save the predicted clusters back to the dataframe by creating a new column called "cluster" and Print the last 10 rows of the dataframe using the tail method from the package pandas.



---

In [0]:
# Put your code here #

Expected Output:
![Figure 12 - Last 10 rows of the ATO dataset with the added cluster column](https://docs.google.com/uc?export=download&id=1aJUyXuyEf11rOCaUIvANFTjoniImYv4G)



---


9. Generate the pivot table with the average of the 2 columns for each cluster value using the pivot_table method from the package pandas and with the following parameters:
*   Provide the list of columns to be aggregated ('Average total business income', 'Average total business expenses') to the parameter values,
*   Provide the name of the column to be grouped (‘cluster’) to the parameter index,
*   Use the mean method from numpy as the aggregation function to the parameter aggfunc


---

In [0]:
# Put your code here #

Expected Output:
![Figure 13 - Output of the pivot_table function](https://docs.google.com/uc?export=download&id=183dlNf-23B11rNyj-jUqb_wyWfdCtm58)


---


10. Now let’s plot the clusters using an interactive scatter plot. First, use Chart() and mark_circle() from the package altair to instantiate a scatter plot graph:


---

In [0]:
# Put your code here #



---

11. Use the encode and interactive methods from Altair to specify the display of the scatter plot and its interactivity options with the following parameters:
*   Provide the name of the column ‘Average total business income’ to the parameter ‘x’ (x-axis),
*   Provide the name of the column ‘Average total business expenses' to the parameter ‘x’ (y-axis),
*   Provide the name of the column ‘cluster:N' to the parameter ‘color’ (different coloring for each group),
*   Provide the list of column names  'Postcode', 'cluster', 'Average total business income', 'Average total business expenses' to the parameter ‘tooltip’ (information displayed on the tooltip)


---

In [0]:
# Put your code here #


Expected Output:
![Figure 14 - Interactive scatter plot of the clusters](https://docs.google.com/uc?export=download&id=1ATZM5wPH4TJAb9nZjgQpzCBdolXbKbm8)

We can see k-means has grouped the observations into 8 different clusters based on the value of the 2 variables (‘Average total business income’ and ‘Average total business expense’. For instance, all the low values data points have been assigned to cluster 7 while the ones with extremely high values belong to cluster 2. So k-means grouped data points that share similar behaviors and are close to each other.

Well done! You just performed your first cluster analysis and visualise its results. You learned how to load a real world dataset, fit k-means and plot a scatter plot. This is a great start and we will be delving into more details on how to improve the performance of your model.