### Exercise 1.3: Build a Linear Regression model to predict Australia temperature 

#### 1.  Import necessary Python packages for the exercise

In [9]:
import pandas as pd
import sklearn

#### 2.  Read the csv file into dataframe.

In [12]:
df =pd.read_csv("tas_1991_2016_AUS.csv")
df.head()

   Temperature - (Celsius)   Year  Month     Country  ISO3
0                  28.2684   1991    Jan   Australia   AUS
1                  27.9415   1991    Feb   Australia   AUS
2                  25.7541   1991    Mar   Australia   AUS
3                  22.2463   1991    Apr   Australia   AUS
4                  18.4007   1991    May   Australia   AUS

#### 3. Rename the columns of the DataFrame

In [14]:
df.columns = ['temperature', 'year', 'month', 'country', 'cty']
df.head()

   temperature  year month     country   cty
0      28.2684  1991   Jan   Australia   AUS
1      27.9415  1991   Feb   Australia   AUS
2      25.7541  1991   Mar   Australia   AUS
3      22.2463  1991   Apr   Australia   AUS
4      18.4007  1991   May   Australia   AUS

#### 4. Drop columns, country and cty

In [16]:
copy_df = df.copy()

df =df.drop(['country', 'cty'], axis=1)
df.head()

   temperature  year month
0      28.2684  1991   Jan
1      27.9415  1991   Feb
2      25.7541  1991   Mar
3      22.2463  1991   Apr
4      18.4007  1991   May

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression 

from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error, mean_squared_error

import seaborn as sns
import  matplotlib.pyplot as plt

In [3]:
df =pd.read_csv("tas_1991_2016_AUS.csv")
df.columns = ['temperature', 'year', 'month', 'country', 'so3']

year = list(range(1991, 2017))
df['year'] = df['year'].astype('category', categories=year, ordered=True).cat.codes
df.drop(['country', 'so3'], axis=1, inplace=True)

dic = dict()
for colname in df.columns:
    if df[colname].dtype == 'object':
        dic[colname]=LabelEncoder()
        df[colname] = dic[colname].fit_transform(df[colname])

/anaconda3/envs/DS_env/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """

In [4]:
model = LinearRegression()
model.fit(x_train, y_train)

predictions = model.predict(x_test)

NameError: name 'x_train' is not defined

In [5]:
mean_absolute_error(y_test, predictions)

NameError: name 'mean_absolute_error' is not defined

In [6]:
model.coef_

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [7]:
mean_squared_error(y_test, predictions)

NameError: name 'mean_squared_error' is not defined

In [8]:
from sklearn.externals import joblib
joblib.dump(model, 'model.pkl')

['model.pkl']