In [0]:
import pandas as pd 

from sklearn.model_selection import train_test_split 

from sklearn.linear_model import LinearRegression

In [0]:
_headers = ['CIC0', 'SM1', 'GATS1i', 'NdsCH', 'Ndssc', 'MLOGP', 'response'] 

 

# read in data 

df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter06/Dataset/qsar_fish_toxicity.csv', names=_headers, sep=';')

In [3]:
df.head()

    CIC0    SM1  GATS1i  NdsCH  Ndssc  MLOGP  response
0  3.260  0.829   1.676      0      1  1.453     3.770
1  2.189  0.580   0.863      0      0  1.348     3.115
2  2.125  0.638   0.831      0      0  1.348     3.531
3  3.027  0.331   1.472      1      0  1.807     3.510
4  2.094  0.827   0.860      0      0  1.886     5.390

In [0]:
features = df.drop('response', axis=1).values 

labels = df[['response']].values 

 

X_train, X_eval, y_train, y_eval = train_test_split(features, labels, test_size=0.2, random_state=0) 

X_val, X_test, y_val, y_test = train_test_split(X_eval, y_eval, random_state=0)

In [10]:
model = LinearRegression()
print(model)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)